<h1>Customer: <%= @customer.name %></h1>
<div id="supermarket">
  <h2>Supermarket: <%= @customer.supermarket.name %></h2>
</div>
<% @customer.items.each do |item| %>
  <div id="item-<%= item.id %>">
    <%= item.name %>
  </div>
<% end %>
